#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    combos {
        compatible = "zmk,combos";
        
        // Bluetooth-Reset: Backspace (3) und Enter (5) gleichzeitig drücken
        combo_bt_clr {
            timeout-ms = <50>;          // Zeitfenster für das Drücken beider Tasten
            key-positions = <3 5>;      // Position 3 (Backspace) und 5 (Enter)
            bindings = <&bt BT_CLR>;    // Aktion: Löscht Bluetooth-Profil
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp S          &kp R          &kp F5    // Positionen 0, 1, 2
                &kp BSPC       &kp A          &kp ENTER // Positionen 3, 4, 5
                &none          &mkp LCLK      &kp F11   // Positionen 6, 7, 8
                &kp N1         &kp N2         &kp N3    // Positionen 9, 10, 11
            >;
        };
    };
};
